<ion-content [fullscreen]="true" class="ion-padding">
  <div class="app-container" [class.input-focused]="isInputFocused">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/logo.jpg" alt="Gorric PHONE" class="logo">
    </div>

    <!-- Segment con solo texto -->
    <ion-segment value="anonymous" class="custom-segment">
      <div class="custom-segment-text">
        Ingresa un Nickname
      </div>
    </ion-segment>

    <!-- Spacer pequeño -->
    <div class="small-spacer"></div>

    <!-- Avatar and Nickname -->
    <div class="avatar-container">
      <app-avatar [avatarUrl]="avatarUrl" (avatarChange)="onAvatarChange($event)"></app-avatar>
    </div>

    <div class="nickname-container">
      <ion-item class="custom-input">
        <ion-input id="nickname-input" placeholder="MiNickName12345" [(ngModel)]="nickname" (focus)="onFocus()" (blur)="onBlur()"></ion-input>
      </ion-item>
    </div>

    <!-- Join Room Button -->
    <div class="button-container">
      <ion-button id="join-room-btn" expand="block" class="join-room-btn" (click)="joinRoom()">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        UNIRSE A LA SALA
      </ion-button>
    </div>
  </div>
</ion-content>