<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="app-container">
    <div class="header">
      <div>Tiempo restante: {{ minutes }}:{{ seconds | number: '2.0' }}</div>
    </div>
    <div class="quiz-container">
      <div *ngIf="currentQuestionIndex < preguntas.length">
        <div class="question">{{ currentQuestionIndex + 1 }}. {{ preguntas[currentQuestionIndex].question }}</div>
        <ion-radio-group [(ngModel)]="respuestas[currentQuestionIndex]">
          <ion-item *ngFor="let opcion of preguntas[currentQuestionIndex].options | keyvalue">
            <ion-label>{{ opcion.value }}</ion-label>
            <ion-radio slot="start" [value]="opcion.key"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-button (click)="nextQuestion()" [disabled]="!respuestas[currentQuestionIndex]">
          {{ currentQuestionIndex === preguntas.length - 1 ? 'Finalizar' : 'Siguiente' }}
        </ion-button>
      </div>
      <div *ngIf="currentQuestionIndex >= preguntas.length">
        <div class="result-container" [ngClass]="{'good-score': score >= 7, 'bad-score': score < 7}">
          <div class="score">Tu puntuación: {{ score }}/{{ preguntas.length }}</div>
          <div class="message" *ngIf="score >= 7">¡Buen trabajo!</div>
          <div class="message" *ngIf="score < 7">¡Sigue practicando!</div>
        </div>
        <ion-button (click)="volverSala()">Volver a la sala</ion-button>
        <ion-button (click)="salirHome()">Salir al home</ion-button>
      </div>
    </div>
  </div>
</ion-content>