html, body, ion-app, ion-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  background: linear-gradient(to bottom, #8e44ad, #c0392b);
  border: none; /* Quita el borde */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  text-align: center;
  margin: 20px 0;
}

.logo {
  max-width: 150px;
}

.spacer {
  flex-grow: 0.3; /* Ocupa menos espacio disponible */
}

.small-spacer {
  height: 20px; /* Ajusta el tama침o del espaciador peque침o */
}

.custom-segment {
  --background: rgba(255, 255, 255, 0.5); /* Menos transparencia */
  border-radius: 20px;
  margin-bottom: 10px; /* Reduce el margen inferior */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Reduce el margen superior */
  width: 80%; /* Ajusta el ancho del segmento */
  max-width: 300px; /* Ancho m치ximo del segmento */
}

.custom-segment-text {
  color: white;
  font-size: 18px;
}

ion-segment-button {
  --color: white;
  --color-checked: #8e44ad;
}

.avatar-container {
  position: relative;
  width: 100px;
  margin: 10px auto; /* Reduce el margen superior e inferior */
}

ion-avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.avatar-help {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  color: white;
  background: #8e44ad;
  border-radius: 50%;
}

.custom-input {
  --background: rgba(255, 255, 255, 0.2);
  --color: white;
  --placeholder-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin-top: 10px; /* Reduce el margen superior */
}

.create-room-btn {
  --background: #2ecc71;
  --color: white;
  margin-top: auto;
  margin-bottom: 20px;
  height: 50px;
  font-size: 18px;
  --border-radius: 25px;
}

/* Sobrescribir estilos de inner-scroll y scroll-y */
.inner-scroll,
.scroll-y {
  background: none !important; /* Elimina el fondo negro */
  box-shadow: none !important; /* Elimina cualquier sombra */
}

/* Sobrescribir estilos de #background-content */
#background-content {
  background: none linear-gradient(to bottom, #8e44ad, #c0392b); /* Elimina el fondo negro */
  position: static !important; /* Ajusta la posici칩n si es necesario */
}

ion-content {
  --background: linear-gradient(to bottom, #8e44ad, #c0392b);
}

:root {
  --ion-background-color: transparent;
  --ion-background-color-rgb: 255, 255, 255;
}

.avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-avatar-btn {
  position: absolute;
  top: 0;
  right: 0;
}